.upvote{
    width:1rem;
    height: 2rem;
}

.blog{
    width:50rem;
    max-width: 90vw;
    box-shadow: var(--box-shadow-1);
    margin: 1rem auto;
    padding: 1rem;
    align-self: flex-start;
    animation:watcher linear;
    animation-timeline: view(100px);
    visibility: hidden;
   
    transform: scale(0.8);
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;

}
@keyframes watcher {
    to{
        transform: scale(1);
        box-shadow: var(--box-shadow-2);
        visibility: visible;
    }
    
}

.blog-heading{
    text-align: center;
    color:var(--electric-blue-1);
    font-size: 1.9rem;
    cursor: pointer;
    
}
.author{
    margin: .6rem;
   text-align: end;
   font-size: 1.1rem;
   color: var(--violet-1);
   font-weight: 800;
   font-family: "Sofia", cursive;
   cursor: pointer;

}
.date-wrap{
    margin:1rem auto;
    font-size: .8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 600;
}

.upvote-wrap{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap:.2rem;
    margin-top: .5rem;
}

.blog-p{
    text-align: justify;
    line-height: 1.4rem;
  
}

.read-more{
    text-align: end;
    font-size: .8rem;
}

.read-more{
    margin-top: .5rem;
    cursor: pointer;
}

#edit-image,#delete-image{
    width:2rem;
    height: 2rem;
    margin:0.1rem;
    cursor: pointer;
}

#delete-edit{
    margin-top: .7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}