#view-posts-specuser{
    background-color: var(--bright-blue);
    width:10rem;
    max-width: 90vw;
    padding: .5rem;
    font-size:1.4rem;
    display: block;
    margin: 2rem auto;
    border-radius: .2rem;
    color:var(--white);
    cursor: pointer;
}

#details-blogs-back,#details-back{
    display: block;
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#spec-user{
    margin: 4rem auto;
}

#spec-username{
    text-align: center;
    font-size: 2rem;
    margin: 1rem auto 2rem auto;
    font-family: "Sofia", cursive;
    color:var(--bright-blue)
}